:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem; }

body {
  width: auto; }

* {
  margin: 0;
  padding: 0; }

/* globals */
.h1__title {
  text-align: center;
  color: var(--bs-black);
  margin: 2rem; }

.h1__color-white {
  text-align: center;
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; }

.p__color-white {
  text-align: center;
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; }

.p__text-info {
  text-align: center;
  color: black; }

.p__text-info__center {
  text-align: center;
  color: black;
  width: 35rem; }

.nav__bg {
  background-color: #011A36; }

.img__nosotros {
  width: 40%; }

.div__condiciones-price {
  width: 47rem; }

@media screen and (max-width: 767px) {
  .article__img-boy {
    width: 100%; }
  .p__text-info__center {
    text-align: center;
    color: black;
    width: 100%; } }

/*mapa*/
/*mixin*/
.img__logo {
  transition: .5s; }

.img__logo:hover {
  transform: scale(1); }

.nav-link {
  color: white;
  transition: .5s; }

.nav-link:hover {
  background-color: #002652;
  border-radius: 1rem; }

.text__header {
  text-align: center; }

.ul__li {
  padding: .5rem; }

.ul__li-text {
  text-decoration: none; }

/*mapa*/
/*mixin*/
/* footer */
.footer {
  background-color: #011A36;
  color: var(--bs-white); }
  .footer__content {
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline; }
    @media screen and (max-width: 1024px) {
      .footer__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
        padding: 2rem; } }
    @media screen and (max-width: 768px) {
      .footer__content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 2rem; } }
    @media screen and (max-width: 540px) {
      .footer__content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 2rem; } }
  @media screen and (max-width: 540px) {
    .footer__content-items {
      padding: 1rem;
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .footer__content-items {
      padding: 1rem;
      text-align: center; } }

.div__redes {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem; }

.div__redes-content,
.div__contactos,
.div__direccion {
  text-align: center; }

div > p > a {
  color: white; }

/*map*/
/*Mixing*/
/* index */
.section__content {
  margin: 10% 0; }

.p__text-i {
  font-size: larger; }
  @media screen and (min-width: 540px) {
    .p__text-i {
      font-size: x-large; } }
  @media screen and (min-width: 768px) {
    .p__text-i {
      font-size: x-large; } }

.h1__text-i {
  font-size: 3rem;
  margin-bottom: 1rem; }
  @media screen and (min-width: 768px) {
    .h1__text-i {
      font-size: 3.5rem; } }
  @media screen and (min-width: 1024px) {
    .h1__text-i {
      font-size: 4rem;
      margin-bottom: 3rem; } }

.img__tarjetas {
  width: 100%;
  height: 100%;
  border-radius: .4rem;
  padding: 1rem 1rem 0 1rem; }

.img__fondo-fijo {
  background-image: url(../assets/img/index/fondoMuseo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.card {
  align-items: center;
  height: auto; }
  .card-text {
    font-size: auto;
    text-align: justify; }

/*mapa*/
/*mixin*/
/* museo */
.aside__container {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  gap: 0.5rem;
  justify-items: center;
  align-items: center; }
  @media screen and (max-width: 540px) {
    .aside__container {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 768px) {
    .aside__container {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 1024px) {
    .aside__container {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }

.aside__text-info {
  text-align: center;
  width: 100%; }

.img__museo {
  width: 70%;
  height: auto; }
  @media screen and (max-width: 540px) {
    .img__museo {
      width: 100%; } }

.sect__content, .sect__aside-containter {
  margin: 2rem 0; }

.article__text {
  text-align: center; }

/* fin museo */
/*Mixin*/
/*odisea*/
.article__container {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
  gap: 5rem;
  margin: 2rem 0 2rem 0; }
  @media screen and (max-width: 540px) {
    .article__container {
      display: flex;
      flex-flow: column wrap;
      justify-items: center;
      align-items: center;
      gap: 3rem; }
      .article__container .carousel__container {
        width: 100%; } }
  @media screen and (max-width: 768px) {
    .article__container {
      display: flex;
      flex-flow: column wrap;
      justify-items: center;
      align-items: center;
      gap: 2rem; } }
  @media screen and (max-width: 1080px) {
    .article__container {
      display: flex;
      flex-flow: column wrap;
      justify-items: center;
      align-items: center;
      gap: 4rem; }
      .article__container iframe {
        width: auto; }
      .article__container .carousel {
        width: 70%;
        margin: 0 auto; } }

@media screen and (max-width: 540px) {
  .article__container-2 {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 2rem 0; } }

@media screen and (max-width: 768px) {
  .article__container-2 {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 2rem 0; } }

@media screen and (max-width: 1080px) {
  .article__container-2 {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-items: center;
    align-items: center;
    gap: 4rem; } }

.p__od {
  width: 60%;
  text-align: center;
  margin: 0 auto; }

/*mapa*/
/*mixin*/
.iframe__video-rp {
  width: 40%; }
  @media screen and (max-width: 1024px) {
    .iframe__video-rp {
      width: 70%; } }

.article__img-boy {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top; }
  @media screen and (max-width: 1024px) {
    .article__img-boy {
      object-position: center top; } }

.article__text-rp {
  width: 60%;
  text-align: center;
  font-weight: bolder;
  margin: 2rem auto; }
  @media screen and (max-width: 540px) {
    .article__text-rp {
      width: 75%; } }

.div__box {
  width: 40%;
  height: 21rem;
  overflow: hidden; }
  @media screen and (max-width: 1024px) {
    .div__box {
      width: 70%;
      height: 28rem; } }
  @media screen and (max-width: 540px) {
    .div__box {
      width: 75%;
      height: 23rem; } }

/*mapa*/
/*mixin*/
.section__container-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  @media screen and (max-width: 1024px) {
    .section__container-card {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem; } }
  @media screen and (max-width: 768px) {
    .section__container-card {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem; } }

.section__img {
  max-width: 30rem;
  text-align: center; }

.section__img-entradas {
  width: 100%;
  padding: 1rem;
  border-radius: 5%;
  transition: .5s; }

.section__img-entradas:hover {
  transform: scale(1.05); }

.table__cabecera {
  border: 1px solid;
  padding: .5rem;
  width: 15rem;
  text-align: center; }

.table__body {
  border: 1px solid; }

.table__cabecera-title {
  width: 17rem; }

.table__item {
  text-align: center;
  border: 1px solid; }

.table__edades-sub {
  text-align: left;
  font-weight: bold;
  border: 1px solid;
  padding: 0 .2rem; }

.p__container-cond {
  margin: 2rem 0 0; }

.form__contactos {
  width: 30rem; }

.form__contact {
  border: 1px solid black;
  padding: 1rem; }

.form__legend {
  text-decoration: underline;
  text-align: center; }

.img__nosotros {
  width: 35rem; }

@media screen and (max-width: 767px) {
  .aside__content {
    width: 100%; }
  .img__nosotros {
    width: 100%; }
  .form__contact, .form__contactos {
    width: 100%; } }
