/*map*/

$breakpoints:(
    sm: 540px,
    md: 768px,
    lg: 1024px
);

/*Mixing*/
@mixin media-up($breakpoint){
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}
@mixin media-down($breakpoint){
    @media screen and (max-width : map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

/* index */
.section{
    &__content{
        margin: 10% 0;
    }
}
.p{
    &__text-i{
        font-size: larger;
        @include media-up(sm){
            font-size: x-large;
        }
        @include media-up(md){
            font-size: x-large;
        }
    }
}

.h1{
    &__text-i{
        font-size: 3rem;    
        margin-bottom: 1rem;
        @include media-up(md){
            font-size: 3.5rem;
        }     
        @include media-up(lg){
            font-size: 4rem;
            margin-bottom: 3rem;
        }
    }
}

.img{
    &__tarjetas{
        width:100%;
    height: 100%;
    border-radius: .4rem;
    padding: 1rem 1rem 0 1rem;
    }
    &__fondo-fijo{
        background-image: url(../assets/img/index/fondoMuseo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }
}

.card {
    align-items: center;
    height: auto;
    &-text{
        font-size: auto;
        text-align: justify;
    }
}

