/*mapa*/

$breakpoints:(
    sm: 540px,
    md: 768px,
    lg: 1024px
);

/*mixin*/
@mixin prop-flex ( $direction, $warp, $just, $align){
    display: flex;
    flex-flow: $direction $warp;
    justify-content: $just;
    align-items: $align;
}
@mixin prop-grid ( $grid-temp-row, $grid-temp-column, $gap, $just, $align){
    display: grid;
    grid-template-columns: $grid-temp-column;
    grid-template-rows: $grid-temp-row;
    gap: $gap;
    justify-items: $just;
    align-items: $align;
}
@mixin media-up($breakpoint){
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}
@mixin media-down($breakpoint){
    @media screen and (max-width : map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

/* museo */
.aside{
    &__container{
        margin: 1rem;
        @include prop-grid(repeat(2, 50%), repeat(2, 50%), .5rem, center, center);
        @include media-down(sm){
            @include prop-flex(column, wrap, center, center);
        }
        @include media-down(md){
            @include prop-flex(column, wrap, center, center);
        }
        @include media-down(lg){
            @include prop-flex(column, wrap, center, center);
        }
    }
    &__text-info{
        text-align: center;
        width: 100%;
    }
}

.img{
    &__museo{
        width: 70%;
        height: auto;
        @include media-down(sm){
            width: 100%;
        }
    }
}

.sect{
    &__content, &__aside-containter{
        margin: 2rem 0;
    }
}
.article__text{
    text-align: center;
}
/* fin museo */
