$breakpoints:(
    sm: 540px,
    md: 768px,
    lg: 1080px
);

/*Mixin*/

@mixin prop-flex ( $direction, $warp, $just, $align, $gap){
    display: flex;
    flex-flow: $direction $warp;
    justify-items: $just;
    align-items: $align;
    gap: $gap;
}
@mixin prop-grid ( $grid-temp-row, $grid-temp-column, $gap, $just, $align){
    display: grid;
    grid-template-columns: $grid-temp-column;
    grid-template-rows: $grid-temp-row;
    gap: $gap;
    justify-items: $just;
    align-items: $align;
}

@mixin media-down($breakpoint){
    @media screen and (max-width : map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

/*odisea*/
.article{
    &__container{
        @include prop-flex( row, wrap ,center ,center, 5rem);
        @include media-down(sm){
            @include prop-flex( column, wrap ,center ,center, 3rem);
            .carousel{
                &__container{
                    width: 100%
                }
            }
        }
        @include media-down(md){
            @include prop-flex( column, wrap ,center ,center, 2rem);
        }
        @include media-down(lg){
            @include prop-flex( column, wrap ,center ,center, 4rem);
            iframe{
                width: auto;
            }
            .carousel{
                width: 70%;
                margin: 0 auto;
            }
        }
        margin:2rem 0 2rem 0;
    }
    &__container-2{
        @include media-down(sm){
            @include prop-flex( column-reverse, wrap ,center ,center, 2rem);
            margin:2rem 0 2rem 0;
        }
        @include media-down(md){
            @include prop-flex( column-reverse, wrap ,center ,center, 2rem);
            margin:2rem 0 2rem 0;
        }
        @include media-down(lg){
            @include prop-flex( column-reverse, wrap ,center ,center, 4rem);
        }
    }
}

.p{
    &__od{
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }
}
