/* footer */

.footer {
    background-color: map-get($palette, --bs-blue-dark );
    color: var(--bs-white);
}

.div__content-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 30rem;
}

.div__redes {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.div__redes-content,
.div__contactos,
.div__direccion {
    text-align: center;
}

div>p>a {
    color: white;
}

.footer .img__footer{
    text-align: center;
}

@media screen and (max-width:767px){ 
    .footer{
        &__content{
            text-align: center;
        }
        &__content-items{
            padding: 1rem;
        }
    }
}