:root{
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;

}
body{
    width: auto;
}

* {
    margin: 0;
    padding: 0;
}

@mixin titulo ($alineacion, $color) {
    text-align: $alineacion;
    color: $color;
}
/* globals */
.h1{
    &__title{
        @include titulo(center, var(--bs-black));
        margin: 2rem;
    }
    &__color-white{
        //letras con bordes color negro
        @include titulo( center, white );
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    
    }
}

.p{
    &__color-white{
        //letras con bordes color negro
        @include titulo( center, white );
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
    &__text-info{
        @include titulo(center, black);
    }
    &__text-info__center{
        @include titulo(center, black );
        width: 35rem;
    }
}

.nav{
    &__bg{
        background-color: map-get($palette, --bs-blue-dark);
    }
}

.img{
    &__nosotros{
        width: 40%;
    }
}

.div{
    &__condiciones-price{
        width: 47rem;
    }
}

@media screen and (max-width:767px){ 
    .article{
         &__img-boy{
             width: 100%;
         }
    }
    .p{
    &__text-info__center{
        @include titulo(center, black );
        width: 100%;
    }
    }
 }