/*mapa*/

$breakpoints:(
    sm: 540px,
    md: 768px,
    lg: 1024px
);

/*mixin*/
@mixin prop-flex ( $direction, $warp, $just, $align, $gap){
    display: flex;
    flex-flow: $direction $warp;
    justify-content: $just;
    align-items: $align;
    gap: $gap;
}
@mixin prop-grid ( $grid-temp-row, $grid-temp-column, $gap, $just, $align){
    display: grid;
    grid-template-columns: $grid-temp-column;
    grid-template-rows: $grid-temp-row;
    gap: $gap;
    justify-items: $just;
    align-items: $align;
}
@mixin media-up($breakpoint){
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}
@mixin media-down($breakpoint){
    @media screen and (max-width : map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.img{
    &__logo{
        transition: .5s;
    }
    &__logo:hover{
        transform: scale(1);
    }
}
.nav{
    &-link{
        color: white;
        transition: .5s;
    }
    &-link:hover{
        background-color: #002652;
        border-radius: 1rem;
        
    }
}
.text{
    &__header{
        text-align: center;
        @include media-down(sm){

        }
    }
}
.ul{
    &__li{
            padding: .5rem;
    }
    &__li-text{
            text-decoration: none;
    }
}

